<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression">
    <test name="Regression">
        <classes>
            <class name="CustomerAccountLoginLogoutTest"/>
        </classes>
    </test> <!-- Test -->


<test name="Regression2">
    <classes>
        <class name="CSSDinerPlayWithWaits"/>
    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->